.video {
    padding: 10px;
    margin-top: 20%;
    display: flex;
}
.image{
    margin-top: 5%;
    margin-bottom: 5% auto;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    content-align: center;
}
.header {
margin: none;

}

.nav-bar {
    margin-top: 1%;
    
}