* {
    background-color: gray;
    color: white;
    font-family: consolas;
}



main {
    max-width: 45%;
    margin-left: 15%;
    padding: 10px;
    
}


navbar {
    font-size: 15px;
    margin-left: 5px;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    font-size: 30px;
}

.side-nav div {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}